/*****************************************************************************************************************************
    
    COGITO Wireframe Theme: 
    
    Basically just a few lines of presentation on top of Foundation.css to bridge the gap between
    foundation and drupal CSS.


    WARNING!!!! WE RECOMMEND THAT YOU NOT CHANGE ANYTHING IN THIS FILE OR EVEN THIS FOLDER!!! 
    USE A CHILD THEME! CHECK OUT README.TXT AND "STARTER-CHILD" FOLDER FOR INSTRUCTIONS  
*****************************************************************************************************************************/


/* -----------------------------------------
   Global CSS for Cogito
----------------------------------------- */
body {  background: #EEE;  padding-bottom: 60px; }
.row {  background: #fff; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif; }

/* -----------------------------------------
   Drupal Regions
----------------------------------------- */

div.highlight { margin-bottom: 12px; }

#branding img { vertical-align: top; }

/* -----------------------------------------
   Breadcrumbs
----------------------------------------- */

#breadcrumb-row {
  padding-bottom: 18px;
}
#breadcrumb-row #breadcrumb {
  padding: 7px 14px;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f5f5f5;
}
#breadcrumb .divider {
  padding: 0 5px;
  color: #bfbfbf;
}
#breadcrumb .active a {
  color: #404040;
}

/* -----------------------------------------
   FIX THE ADMIN MENU
----------------------------------------- */

body.admin-menu { position: static!important; }


/* -----------------------------------------
   Main
----------------------------------------- */

#main {
  padding-top:20px;
}

#main h1 {
  line-height: 1em;
}
#main h2{
  font-size:2em;
}
#main h3{
  font-size:1.2em;
}
#main h4 {
  font-size:1em;
  font-weight: bold;
}


/* -----------------------------------------
   Navigation
----------------------------------------- */

#access{	background: #3c3c3c; }

/*** SUPERFISH SKIN ***/
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #fff;
}

.sf-menu li {
	background: #3c3c3c;
}

.sf-menu li li {
	background:		#969696;
}

.sf-menu li li a {
  color: #fff;
}

.sf-menu li li li {
	background:		#a6a6a6;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#3c3c3c;
	outline:		0;
}


/* -----------------------------------------
   Foundation-specific presentation CSS
----------------------------------------- */

body { padding-bottom: 60px; }
.row { max-width: 1200px; }

/* Footer */
footer.row {
  border-top: solid 1px #e6e6e6;
  padding-top: 20px; }
footer.row h2 {
  color: #444444;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 4px; }
footer.row p {
  color: #626262;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px; }
footer.row a {
  color: #222222; }
footer.row a:hover {
  text-decoration: underline; }
  


.row.display { background: #f4f4f4; margin-bottom: 10px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.row.display .column, .row.display .columns { background: #e7e7e7; font-size: 11px; text-indent: 3px; padding-top: 6px; padding-bottom: 6px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

/* Font-Face */
@font-face {
font-family: 'Proxima';
	src: url(../fonts/proximanova-regular-webfont.eot?1307578394);
	src: url('../fonts/proximanova-regular-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-regular-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-style: italic;
	src: url(../fonts/proximanova-regitalic-webfont.eot?1307578394);
	src: url('../fonts/proximanova-regitalic-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-regitalic-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 300;
	src: url(../fonts/proximanova-light-webfont.eot?1307578394);
	src: url('../fonts/proximanova-light-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-light-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-light-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 600;
	src: url(../fonts/proximanova-semibold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-semibold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-semibold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-semibold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 600;
	font-style: italic;
	src: url(../fonts/proximanova-semibolditalic-webfont.eot?1307578394);
	src: url('../fonts/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: bold;
	src: url(../fonts/proximanova-bold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-bold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-bold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-bold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/proximanova-boldit-webfont.eot?1307578394);
	src: url('../fonts/proximanova-boldit-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-boldit-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-boldit-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 900;
	src: url(../fonts/proximanova-extrabold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-extrabold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-extrabold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg')
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima", "Helvetica Neue", "Helvetica", Arial, sans-serif; }