body.admin-menu {
margin-top: 0px !important;
padding-top: 30px;
}
#page{
}

/* Just some general styling  */

aside h3{  font-size: 1.2em;}
#content h2{  font-size: 1.2em;}
#content h1{  font-size: 2.5em;}


body{	background: #EEE;}
.row { background: #fff; }

#main { padding-top: 1.5em; }



#site-title{}

#site-description {
  font-size: 1.5em;
  font-style: italic;
}

#footer{
  border-top: 1px solid #ccc;
  padding: 15px 0 40px;
}


/**
 * NAVIGATION STYLING
 *
 **/
nav.row{
  background: #3c3c3c;
}

/*** SUPERFISH SKIN ***/
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #fff;
}
.sf-menu li {
	background: #3c3c3c;
}
.sf-menu li li {
	background:		#969696;
}
.sf-menu li li a {
  color: #fff;
}
.sf-menu li li li {
	background:		#a6a6a6;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#3c3c3c;
	outline:		0;
}