body.admin-menu {
margin-top: 0px !important;
}

aside h2{
  font-size: 1.5em;
}
#content h2{
  font-size: 2em;
}


body{
padding-top: 20px !important;
}
.row {
	background: #EEE;
}

#main {
  padding-top: 1.5em;
}

nav .block-superfish{
  width: 100%;
  background: #656565;
}
nav .sf-menu.sf-style-default {
  margin-bottom: 0px;
}

nav .sf-menu.sf-style-default li, .sf-menu.sf-style-default.sf-navbar {
  background: #656565;
}
nav .sf-menu.sf-style-default a, .sf-menu.sf-style-default a:visited {
  color: #fff;
  font-weight: bold;
}

nav .sf-menu.sf-style-default li:hover, 
nav .sf-menu.sf-style-default li.sfhover, 
nav .sf-menu.sf-style-default a:focus, 
nav .sf-menu.sf-style-default a:hover, 
nav .sf-menu.sf-style-default a:active {
  background: #aaa;
}

/****************************
    Grid-y junk so you can see
    where stuff lives
****************************/

.block{
  border: 2px dashed #ccc;
} 

.row {
  border: 1px solid #ccc;
}
.columns {
  background: #ddd;
}